<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Estudiantes</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    
    <a class="link-secondary" href="#" aria-label="Add a new report">
      Agregar <svg class="bi">
        <use xlink:href="#plus-circle" />
      </svg>
    </a>
  </div>
</div>
<div class="d-flex flex-column justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Materia</th>
        <th scope="col">Horario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Juan</td>
        <td>Pérez</td>
        <td>20</td>
        <td>Matemáticas</td>
        <td>8:00 - 10:00</td>
      </tr>
      <!-- Aquí puedes agregar más filas con la información de los alumnos -->
      <tr>
        <th scope="row">40</th>
        <td>María</td>
        <td>Gómez</td>
        <td>22</td>
        <td>Historia</td>
        <td>14:00 - 16:00</td>
      </tr>
    </tbody>
  </table>
</div>