<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-center text-white" href="#">
    <span>Administración</span></a>
  <div class="pe-4">
    <a class="link-secondary me-2" href="#" aria-label="Add a new report">
      <svg class="bi">
        <use xlink:href="#linkedin" />
      </svg>
    </a>
    <a class="link-secondary me-2" href="#" aria-label="Add a new report">
      <svg class="bi">
        <use xlink:href="#facebook" />
      </svg>
    </a>
    <a class="link-secondary me-2" href="#" aria-label="Add a new report">
      <svg class="bi">
        <use xlink:href="#ticktok" />
      </svg>
    </a>
    <a class="link-secondary me-2" href="#" aria-label="Add a new report">
      <svg class="bi">
        <use xlink:href="#youtube" />
      </svg>
    </a>
    <a class="link-secondary me-2" href="#" aria-label="Add a new report">
      <svg class="bi">
        <use xlink:href="#whatsapp" />
      </svg>
    </a>
  </div>
</header>