#sidebarMenu {
    width: 100%;
}

.offcanvas-body {
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: calc(100vh - 80px);
    justify-content: space-between;
    flex-direction: column;
}
#logo{
    fill: #ffffff;
    color: #ffffff;
}